@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  /*Шріфт для слова Instagram використала не той, що в макеті, тому що там платний*/

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #ffffff;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
form {
    width: 30vw;
    height: 82vh;
    border: 4px solid #e4e4e4;
    margin: 3vh auto 2vh auto;
}
.forma_entrance{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /*padding-top: 20%;*/
}
.forma_entrance div:nth-of-type(1){
        padding-top: 15%;
        margin-bottom: 12%;
        width: 100%;
        display: flex;
        justify-content: center;
}
h1{
        font-family: "Engagement", cursive;
        font-weight: 500;
        font-style: normal;
        font-size: 11vh;

}
.forma_entrance input[type="text"],input[type="password"]{
    width: 80%;
    height: 10%;
    border-radius: 0.5vw;
    border: 4px solid #e4e4e4;
    background: rgba(228, 228, 228, 0.35);
    text-overflow: ellipsis;
    font-size: 2.1vh;
    padding-left: 1.2vw;

}
.forma_entrance input[type="password"]{
    margin-top: 2vh;
}

form input[type=text]::placeholder, form input[type=password]::placeholder{
    font-family: Inter, sans-serif;
    font-size: 2.1vh;
    font-weight: 500;
}
form input[type=submit]{
    background: rgba(48, 161, 248, 0.9);
    border-radius: 0.8vw;
    width: 80%;
    height: 8%;
    margin-top: 4vh;
    border: none;
    color: white;
    font-size: 2.2vh;
    font-family: Inter, sans-serif;
    font-weight: 600
}
.forma_entrance div:nth-of-type(2){
    font-family: Inter, sans-serif;
    font-size: 2.2vh;
    margin-top: 2.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #707070;
    font-weight: 600;
}
.forma_entrance div:nth-of-type(3){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 0.5vw;
    /*background: #8eff96;*/
    font-family: Inter, sans-serif;
    font-size: 2.2vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: 600;
}

.forma_entrance div:nth-of-type(3) a{
    color: #355286;
}
.forma_entrance div:nth-of-type(3) a:active{
    color: #355286;
}
.forma_entrance div:nth-of-type(3) a:visited{
    color: #355286;
}
.forma_entrance div:nth-of-type(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 2vh;
    font-weight: 500;
    /*background: #a0bbfd;*/
}

.forma_entrance div:nth-of-type(4) a{
    color: #244e7c;
}
.forma_entrance div:nth-of-type(4) a:active{
    color: #244e7c;
}
.forma_entrance div:nth-of-type(4) a:visited{
    color: #244e7c;
}

.remove_forma_registration{
    width: 30vw;
    height: 10vh;
    border: 4px solid #e4e4e4;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 2.5vh;
    font-weight: 500;
    gap: 0.5vw;
    padding: 0 0.5vw 0 0.5vw;
}
.remove_forma_registration a{
    color: rgba(48, 161, 248);
}
.remove_forma_registration a:active{
    color: rgba(48, 161, 248);
}
.remove_forma_registration a:visited{
    color: rgba(48, 161, 248);
}





